/* YourComponent.css */
.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.header-item {
    flex: 1;
    text-align: center;
}

.child {
    padding-left: 70px;
}

.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 2px;
}

.button:hover {
    background-color: #45a049;
}
